/* Ref. lume.land (MIT): https://github.com/lumeland/lume.land */
/* Tweaked by @uta8a */
.footer-container {
  background: var(--color-background-1);
}
.footer {
  font: var(--text-caption);
  color: var(--color-foreground-1);
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
  padding: 0 var(--margin);
}
.footer-toggle-theme {
  margin: 0;
  padding: 12px 0;

  & a {
    color: currentColor;
  }
}
.footer-links {
  margin: 0;
  list-style: none;
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border-bottom: solid 1px var(--color-background-3);
  & a {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;
  }
}
