<div class="footer-container">
  <footer class="footer">
    <ul class="footer-links">
      <li class="">
        This document is licensed under
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">
          CC-BY-4.0
        </a>
        |
        <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener noreferrer">
          Apache License Version 2.0
        </a>
      </li>
    </ul>
    <p class="footer-toggle-theme">
      Toggle theme ▷ <button
        class="button-theme"
        id="switch-theme"
        title="Toggle light & dark theme"
        aria-label="auto"
        aria-live="polite"
      >
        <span class="is-light">Light theme</span>
        <span class="is-dark">Dark theme</span>
      </button>
    </p>
  </footer>
</div>
