<!-- Ref. lume.land (MIT): https://github.com/lumeland/lume.land -->
<!DOCTYPE html>
<html lang="ja" data-theme="light">
  <script type="text/javascript">
    const root = document.firstElementChild;
    const mediaQuery = "(prefers-color-scheme: dark)";
    const mediaMatch = window.matchMedia;
    const currentMode = mediaMatch(mediaQuery).matches;

    const storeTheme = (targetTheme) => {
      if ("boolean" === typeof targetTheme) {
        targetTheme = targetTheme ? "dark" : "light";
      }
      root.setAttribute("data-theme", targetTheme);
      localStorage.setItem("data-theme", targetTheme);
    };

    const storedTheme = ("data-theme" in localStorage)
      ? localStorage.getItem("data-theme")
      : currentMode;

    storedTheme && storeTheme(storedTheme);
  </script>
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <meta name="supported-color-schemes" content="light dark">

    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/critical.css" inline>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="canonical" href="{{ url | url(true) }}">
    
    <link rel="alternate" href="/feed.rss" type="application/rss+xml" title="diaryです">
    <link rel="alternate" href="/feed.json" type="application/json" title="diaryです">

    {% if page_css %}
      <link rel="stylesheet" href="/styles/pages/{{ page_css }}">
    {% endif %}

    {% if page_css == "content.css" %}
      <link rel="stylesheet" href="/styles/prism.css">
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url | url(true) }}">
    <meta property="og:description" content="{{ description | md(true) | striptags }}">
    <meta property="og:image" content="{{ ogp | url(true) }}">

    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description | md(true) | striptags }}">
    <meta name="twitter:site" content="@uta8a">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ ogp | url(true) }}">

    <meta name="theme-color" content="#e37542" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#ae4313" media="(prefers-color-scheme: dark)">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>

  <body>
    {% include "templates/navbar.njk" %}
    <div>
      {{ content | safe }}
    </div>
    {% include "templates/footer.njk" %}
      
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', () => {
        document.getElementById("switch-theme").addEventListener("click", (event) => {
          const currentTheme =
            localStorage.getItem("data-theme") == "light" || (getComputedStyle(root).getPropertyValue("color-scheme") == "light");
          storeTheme(!!currentTheme);
        });

        mediaMatch(mediaQuery).addEventListener("change", (event) => {
          storeTheme(event.matches);
        });

      }, false);
    </script>
    {% if page_css == "content.css" %}
      <script src="/prism.js" type="module"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
      <script>
          document.addEventListener("DOMContentLoaded", function() {
              renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\(', right: '\\)', display: false},
                    {left: '\\[', right: '\\]', display: true}
                ],
                // • rendering keys, e.g.:
                throwOnError : false
              });
          });
      </script>
    {% endif %}
  </body>
</html>
