---
layout: ./base.njk
page_css: content.css
---

<div class="content">
  <header class="content-header">
    <h1 class="title">{{ title }}</h1>
  </header>

  <main class="content-body">
    {{ body | md | safe }}
  </main>

  <hr class="content-hr">

  <footer class="content-footer">
    <details>
      <summary>変更履歴</summary>
      <ol>
      {% for log in changelog %}
        <li>
        {{ log.date | date('DATETIME') }}: {{ log.summary | md | striptags | safe }}
        </li>
      {%  endfor %}
      </ol>
    </details>
    <ul class="content-pagination">
      {# TODO: 他の記事のレコメンド お弁当箱 #}
      {# TODO: comment using github discussion #}
    </ul>
  </footer>
</div>
